
 
  <div class="container-fluid">

    <app-page-title title="{{'GiftCard_List'| translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <app-custom-table
      [addButtonLink]="'/private/giftCards/create'"
      [addButtonLabel]="'New_GiftCard' | translate"
      [addButtonPermission]="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Gift_Cards, claimValue: [Permission.Create]}]"
      [columns]="columns"
      [viewButtonLink]="'/private/giftCards/view'"
      [viewButtonPermission]="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Gift_Cards, claimValue: [Permission.View]}]"
      [editButtonLink]="'/private/giftCards/edit'"
      [editButtonPermission]="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Gift_Cards, claimValue: [Permission.Update]}]"
      [deleteButtonPermission]="[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Gift_Cards, claimValue: [Permission.Delete]}]"
      [ArrayData]="originalArray"
      [totalItems]="(totalItems$ | async)"
      [checkedStatus] = "{status: 'active', label: 'Active'}"
      [uncheckedStatus] = "{status: 'expired', label: 'Expired'}"
      (pageChanged)="onPageChanged($event)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (onChangeEvent)="onChangeEvent($event)"
      (onDelete)="onDelete($event)">
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="text-center">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  