
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2 align-items-center">
          <!-- Left Side: Search, Filter, Print, Download Buttons -->
          <div class="col-sm-7">
            <div class="d-flex align-items-center">
              <!-- Search Box -->
              <div class="me-2">
                <div class="search-box">
                  <div class="position-relative">
                    <input type="text" class="form-control" id="searchTableList" placeholder="{{'HEADER.SEARCH' | translate}}" [(ngModel)]="searchTerm" (ngModelChange)="searchEvent()">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
        
              <!-- Filter Button -->
              <div class="me-2">
                <button class="btn btn-gold btn-rounded" id="filter" (click)="toggleDropdownEvent()">
                  <i class="bx bx-filter-alt"></i> 
                </button>
                <div class="dropdown-menu position-absolute" [class.show]="isDropdownOpen">
                  <a class="dropdown-item" href="javascript:void(0);" *ngFor="let filter of filters" (click)="applyFilterEvent(filter.value)">{{ filter.label }}</a>
                </div>
              </div>
        
              <!-- Print Button -->
              <div class="me-2">
                <a href="javascript:window.print()" class="btn btn-gold btn-rounded"><i class="bx bx-printer"></i></a>

                <!-- <button class="btn btn-gold btn-rounded" (click)="printDataEvent()">
                  <i class="bx bx-printer"></i> 
                </button> -->
              </div>
        
              <!-- Download Button -->
              <div class="me-2">
                <button class="btn btn-gold btn-rounded waves-effect waves-light" (click)="downloadDataEvent()">
                  <i class="bx bx-download"></i> 
                </button>
              </div>
            </div>
          </div>
        
          <!-- Right Side: Add Button -->
          <div class="col-sm-5 text-end">
            <button *hasClaim="addButtonPermission" [routerLink]="addButtonLink" type="button" class="btn btn-primary btn-rounded">
              <i class="mdi mdi-plus me-1"></i> {{ addButtonLabel | translate }}
            </button>
          </div>
        </div>
        
        <!-- end row -->

<div class="table-responsive">
  <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
    <thead class="table-light">
      <tr>
        <th scope="col" style="width: 40px;">#</th>
        <th scope="col" *ngFor="let column of columns">{{column.label|translate}}</th>
        <th scope="col" style="width: 200px;">{{'Actions'| translate}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filteredArray && filteredArray.length > 0; else noItems">
        <ng-container  *ngFor="let data of filteredArray; let i= index "> 
          <tr>
            <td>
              <div class="form-check font-size-16">
                <input class="form-check-input" type="checkbox" id="transactionCheck{{data.index}}" value="{{data.id}}" [(ngModel)]="data.state">
                <label class="form-check-label" for="transactionCheck{{data.index}}"></label>
              </div>
            </td>
            <ng-container *ngFor="let column of columns">
                <td>
                <ng-container *ngIf="column.property !== 'status' && column.property !== 'user.status'; else  status">
                  <!-- Check if column.property is 'flag' -->
                  <ng-container *ngIf="column.property === 'flag'; else showData">
                    <div>
                      <img class="rounded-circle avatar-xs" [src]="getProperty(data, column.property)" alt="">
                    </div>
                  </ng-container>
              
                  <!-- Show Data for non-flag properties -->
                  <ng-template #showData>
                    <ng-container *ngIf="getProperty(data, column.property) !== null && getProperty(data, column.property) !== undefined">
                      <h5 class="font-size-14 mb-1">
                        <a href="javascript: void(0);" class="text-dark">
                          {{ getProperty(data, column.property) }}
                        </a>
                      </h5>
                    </ng-container>
                  </ng-template>
                </ng-container>
              
                <!-- Status Display -->
                <ng-template #status >
               
                  <ng-container *ngIf="getProperty(data, column.property) === 'approved' || getProperty(data, column.property) === 'pending' || getProperty(data, column.property) === 'delivered' || getProperty(data, column.property) === 'undelivered'; else statusSwitch">
                    <span class="badge"
                          [ngClass]="{
                            'bg-success': getProperty(data, column.property) === 'delivered' || getProperty(data, column.property) === 'approved',
                            'bg-warning': getProperty(data, column.property) === 'pending',
                            'bg-danger': getProperty(data, column.property) === 'undelivered'
                          }">
                      {{ getProperty(data, column.property) }}
                    </span>
                  </ng-container>
              
                  <ng-template #statusSwitch  >
                    <ui-switch
                      color="##343a40"
                      [checked]="getProperty(data, column.property) === checkedStatus?.status"
                      [uncheckedLabel]="uncheckedStatus?.label | translate"
                      [checkedLabel]="checkedStatus?.label | translate"
                      size="small"
                      class="me-1"
                      (changeEvent)="onChangeEventEmit(data, $event)">
                    </ui-switch>
                    
                  </ng-template>
                 
                </ng-template>
              </td>
            </ng-container>
            <ng-container *ngIf="!approveAction; else pendingActions" >        
            <td>
              <ul class="list-unstyled hstack gap-1 mb-0">
                 <!-- <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'View'|translate}}">
                   <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary" *hasClaim="viewButtonPermission" (click)="view(data.id)"><i class="mdi mdi-eye-outline"></i></a>
                 </li> -->
                 <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Edit'|translate}}">
                   <a [routerLink]="[editButtonLink, data.id]" class="btn btn-sm btn-soft-info" *hasClaim="editButtonPermission" ><i class="mdi mdi-pencil-outline"></i></a>
 
                 </li>
                 <li data-bs-toggle="tooltip" data-bs-placement="top" title="{{'Delete'| translate}}">
                   <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" *hasClaim="deleteButtonPermission" (click)="deleteData(data.id)"><i class="mdi mdi-delete-outline"></i></a>
                 </li>
               </ul>
           </td>
           </ng-container>
            <ng-template #pendingActions>
            <td>
              <button 
                  *hasClaim="approveButtonPermission"
                  type="button"
                  class="btn btn-success me-2"
                  (click)="approveItem(data, 'approve')">
                  {{'Approve' | translate}}
              </button>
              <button 
                  *hasClaim="declineButtonPermission"
                  type="button"
                  class="btn btn-danger"
                  (click)="approveItem(data, 'decline')">
                  {{'Decline' | translate}}
              </button>
            </td>
            </ng-template>
    
            
          </tr>
        </ng-container>
      </ng-container>
      <!-- Template for No Items Available -->
      <ng-template #noItems>
        <tr>
          <td [attr.colspan]="columns.length + 2" class="text-center">
            <p>{{'No_items_available' | translate}}</p>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <div class="dataTables_length" id="tickets-table_length"><label class="d-inline-flex align-items-center">{{'Show' | translate}}
    <select 
    name="tickets-table_length" aria-controls="tickets-table" 
    name="pageSize" 
    [(ngModel)]="pageSize" 
    (change)="onPageSizeChange($event)"
    class="form-control form-control-sm mx-2">
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="30">30</option>
      <option [ngValue]="50">50</option>
    </select> {{'entries' | translate}}</label>
  </div>
</div>
</div>
</div>
</div>
</div>

<div *ngIf="filteredArray.length > 0" class="row">
  <div class="col-lg-12">
    <ul class="pagination pagination-rounded justify-content-center mt-4">
     
      <pagination class="pagination-wrap hstack gap-2"  [items]="items" [totalItems]="totalItems" [itemsPerPage]="10" (pageChanged)="pageChangedEvent($event)"></pagination>
    </ul>
  </div>
</div>

<div bsModal #removeItemModal="bs-modal" class="modal fade" id="removeItemModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="removeItemModal.hide()"></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div class="avatar-title bg-primary text-primary bg-opacity-10 font-size-20 rounded-3">
            <i class="mdi mdi-trash-can-outline"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">{{'Are_you_Sure_You_want_to_delete_it?'|translate}}</p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button type="button" class="btn btn-danger me-1" id="remove-item" (click)="onConfirm()">{{'Delete_Now'|translate}}</button>
          <button type="button" class="btn btn-secondary" (click)="removeItemModal.hide()">{{'Close'| translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>