<div class="row">
    <div class="col-19">
        <div class="card">
            <div class="card-body ">
              <form (ngSubmit)="onSubmit()" [formGroup]="countryForm"  class="m-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="name" >{{'Country_Name' | translate}} <span class="text-danger">*</span></label>
                            <input type="text" id="name" class="form-control" formControlName="name"  >
                            <div *ngIf="countryForm.get('name').touched && countryForm.get('name').invalid" class="invalid-feedback d-block">
                                <span *ngIf="countryForm.get('name').errors?.['required']">{{'Name is required'| translate}}.</span>
                            </div>
                          </div> 
                      </div>
                      <!-- <div class="col-md-6 mb-3">
                        <div class="form-group ">
                           <label for="nameTrans" >{{'Country_Name_Trans' | translate}} </label>
                            <input type="text" id="nameTrans" class="form-control" formControlName="nameTrans"  >
                               
                          </div> 
                      </div> -->
                 <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="phoneCode" >{{'Phone_Code' | translate}}<span class="text-danger">*</span></label>
                          <input type="text" id="phoneCode" class="form-control" formControlName="phoneCode" >
                          <div *ngIf="countryForm.get('phoneCode').touched && countryForm.get('phoneCode').invalid" class="invalid-feedback d-block">
                            <span *ngIf="countryForm.get('phoneCode').errors?.['required']">{{'Name is required'| translate}}.</span>
                        </div>                        
                    </div>
                </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group ">
                       <label for="flag" >{{'Country_flag' | translate}} </label>
                       <div class="text-center">
                        <div class="position-relative d-inline-block">
                            <div class="position-absolute bottom-0 end-0">
                                <label for="project-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Flag">
                                    <div class="avatar-xs">
                                        <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer shadow font-size-16">
                                            <i class='bx bxs-image-alt'></i>
                                        </div>
                                    </div>
                                </label>
                                <input class="form-control d-none" value="" id="project-image-input" type="file" accept="image/png, image/gif, image/jpeg" (change)="uploadCountryFlag($event)">
                            </div>
                            <div class="avatar-lg">
                                <div class="avatar-title bg-light rounded-circle">
                                    <img [src]="flag" id="projectlogo-img"  class="avatar-md h-auto rounded-circle" />
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                   
                  </div>
                 
              
              </div>
                <div class="col-12  mt-4">
                    <div class="d-flex justify-content-end">
                        <button type="button" id="cancel-btn" class="btn btn-outline-secondary me-2" (click)="onCancel()">{{'Cancel'|translate}}</button>
                        <button type="submit" class="btn btn-success" [disabled]="countryForm.invalid"> {{ (type == 'create' ? 'Add_country' : 'update_country') | translate }}
                        </button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div> <!-- end col -->
  </div>
  