 
  <div class="container-fluid">

    <app-page-title title="{{'Merchants_List'| translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <app-custom-table
      [addButtonLink] ="'/private/merchants/create'"
      [addButtonLabel] ="'New_Merchant' | translate"
      [addButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Merchants, claimValue: [Permission.Create]}]"
      [columns]="columns"
      [viewButtonLink]="'/private/merchants/view'"
      [viewButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Merchants, claimValue: [Permission.View]}]"
      [editButtonLink]="'/private/merchants/edit'"
      [editButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Merchants, claimValue: [Permission.Update]}]"
      [deleteButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Merchants, claimValue: [Permission.Delete]}]"
      [ArrayData]="originalArray"
      [checkedStatus] = "checked"
      [uncheckedStatus] = "unChecked"
      (pageChanged)="onPageChanged($event)"
      (onChangeEvent)="onChangeEvent($event)"
      (onDelete)="onDelete($event)">
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="text-center">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  