<div class="account-pages ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          
          <div class="row logo-row" >
                     
            <div class="col-12 text-center">
                <img src="assets/images/LogoInfinite/logo.svg" alt="" class="img-fluid">
              </div>
            </div>
          
          <div class="card-body pt-0">
            <div class="p-2">
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                @if(error){
                <alert type="danger" [dismissible]="false">{{ error }}</alert>
                }

                <div class="mb-3">
                  <label for="email">{{'Email'| translate}}</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="{{'Email'| translate}}" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  @if(submitted && f.email.errors){
                  <div class="invalid-feedback">
                    @if(f.email.errors.required){
                    <div>{{'Email is required'| translate}}</div>
                    }@if(f.email.errors.email){
                    <div>{{'Email must be a valid email address'| translate}}</div>
                    }
                  </div>
                  }
                </div>

                <div class="mb-3">
                  <label for="password">{{'Password'| translate}}</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="{{'Enter password'|translate}}" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                    <button class="btn btn-light ms-0" type="button" id="password-addon">
                      <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i></button>
                    @if(submitted && f.password.errors){
                    <div class="invalid-feedback">
                      @if(f.password.errors.required){
                      <span>{{'Password is required'| translate}}</span>
                      }
                    </div>}
                  </div>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-check">
                  <label class="form-check-label" for="remember-check">
                    {{'Remember me' | translate}}
                  </label>
                </div>

                <div id="elmLoader" class="text-center d-none">
                  <div class="spinner-border text-primary avatar-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                
                <div class="mt-3 d-flex d-grid grid-cols-2 gap-2">
                  <button class="btn btn-gold me-2" type="submit">{{'Log In'| translate}}</button>
                  <button routerLink="/auth/signup-2" class="btn btn-brown ">{{'Register'| translate}}</button>
                </div>
                <!-- <div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">Sign in with</h5>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div> -->
                <div class="mt-4 text-center">
                  <a routerLink="/auth/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i> {{'Forgot your password?' | translate}}</a>
                </div>
              </form>
            </div>

          </div>
        </div>
         <div class="mt-5 text-center">
          <!-- <p>You are a merchant and don't have an account ? <a routerLink="/auth/signup-2" class="fw-medium text-primary"> Register
            now
          </a> </p> -->
          <p class="text-white">© {{year}} Infinite. </p>
        </div> 

      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->