 
  <div class="container-fluid">

    <app-page-title title="{{'Employee_List'| translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <app-custom-table
      [addButtonLink] ="'/private/employees/create'"
      [addButtonLabel] ="'New_Employee'| translate"
      [addButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Employees, claimValue: [Permission.Create]}]"
      [columns]="columns"
      [viewButtonLink]="'/private/employees/view'"
      [viewButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Employees, claimValue: [Permission.View]}]"
      [editButtonLink]="'/private/employees/edit'"
      [editButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Employees, claimValue: [Permission.Update]}]"
      [deleteButtonPermission] = "[{claimType: Modules.All, claimValue: [Permission.All]},{claimType: Modules.Employees, claimValue: [Permission.Delete]}]"
      [ArrayData]="originalArray"
      [totalItems]="(totalItems$ | async)"
      [checkedStatus] = "{status: 'active', label: 'Active'}"
      [uncheckedStatus] = "{status: 'inactive', label: 'inactive'}"
      (pageChanged)="onPageChanged($event)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (onChangeEvent)="onChangeEvent($event)"
      (onDelete)="onDelete($event)">
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="text-center">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  