  <div class="container-fluid">

    <app-page-title title="{{'Pending_coupons'| translate}}" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <app-custom-table
      [columns]="columns"
      [approveButtonPermission]="[
        { claimType: Modules.All, claimValue: [Permission.All] },
        { claimType: Modules.Coupons, claimValue: [Permission.Create] }
        ]"
      [declineButtonPermission]="[
        { claimType: Modules.All, claimValue: [Permission.All] },
        { claimType: Modules.Coupons, claimValue: [Permission.Update] }
        ]"
      [ArrayData]="originalArray"
      [pending]="true"
      [totalItems]="(totalItems$ | async)"
      (onPageSizeChanged)="onPageSizeChanged($event)"
      (pageChanged)="onPageChanged($event)"
      (onApprove)="onApproveEvent($event)"
      >
</app-custom-table>
   
  </div>

  
  <div id="elmLoader" class="text-center">
    <div class="spinner-border text-primary avatar-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  