<accordion [closeOthers]="true" class="accordion" [isAnimated]="true">
    <accordion-group [isOpen]="isFirstOpen" heading="{{'Employee_Basic_Informations' | translate}}" class="accordion-item" #group>
      <span accordion-heading class="float-end fs-5">
        <i class="mdi" [ngClass]="!group?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
      </span>
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm"  class="m-4">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <div class="form-group ">
                               <label for="username" >{{'Username' | translate}} <span class="text-danger">*</span></label>
                                <input type="text" id="username" class="form-control" formControlName="username" required>
                                <div *ngIf="employeeForm.get('username').touched && employeeForm.get('username').invalid" class="invalid-feedback d-block">
                                    <span *ngIf="employeeForm.get('username').errors?.['required']">{{'Username is required'| translate}}.</span>
                                  </div>
                              </div> 
                          </div>
                          <div class="col-md-6 mb-3">
                            <div class="form-group ">
                              <label for="email">{{'Email'| translate}} <span class="text-danger">*</span></label>
                              <input type="email" id="email" class="form-control" formControlName="email" required>
                              <div *ngIf="employeeForm.get('email').touched && employeeForm.get('email').invalid" class="invalid-feedback d-block">
                                <span *ngIf="employeeForm.get('email').errors?.['required']">{{'Email is required'| translate}}.</span>
                              </div>
                            </div>
                          </div>
                     
                          <div *ngIf="type == 'create'" class="col-md-6 mb-3">
                            <div class="form-group ">
                                <label for="password" >{{'Password'| translate}} <span class="text-danger">*</span></label>
                                <input type="password" id="password" class="form-control" formControlName="password" required>
                                <!-- <button class="btn btn-light " type="button" id="password-addon2">
                                  <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
                                </button> -->
                                <div *ngIf="employeeForm.get('password').touched && employeeForm.get('password').invalid" class="invalid-feedback d-block">
                                  <span *ngIf="employeeForm.get('password').errors?.['required']">{{'Password is required'| translate}}.</span>
                                </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 mb-3">
                                <div class="form-group ">
                                <label for="confpassword" >Confirm password <span class="text-danger">*</span></label>
                                <input type="password" id="confpassword" class="form-control" formControlName="confpassword" required>
                                 <button class="btn btn-light" type="button" id="password-addon2">
                                  <i class="mdi mdi-eye-outline" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType}" (click)="toggleFieldTextType()"></i>
                                </button> -->
                                <!-- <div *ngIf="employeeForm.get('confpassword').touched && employeeForm.get('confpassword').invalid" class="invalid-feedback d-block">
                                  <span *ngIf="employeeForm.get('confpassword').errors?.['required']" else error>{{'Confirm password is required'| translate}}.
                                    </span>
                                    <ng-template #error>
                                      <div class="invalid-feedback" *ngIf="passwordMatchError">
                                          {{ 'confirm_password_does_not_matched' | translate }}
                                      </div>
                                  </ng-template>
                                  
                                </div>
                              </div>
                            </div> 
                          </div>-->
                         
                            <div class="col-md-6 mb-3">
                              <div class="form-group">
                                <label for="phone" >{{'Phone Number'| translate}} <span class="text-danger">*</span></label><br>
                               <app-phone-number
                               [initialPhoneNumber]="employeeForm.get('phone').value"
                                *ngIf="employeeForm" 
                                (phoneNumberChanged)="onPhoneNumberChanged($event)" >
                              </app-phone-number>
                               <div *ngIf="employeeForm.get('phone').touched && employeeForm.get('phone').invalid" class="invalid-feedback d-block">
                                <span *ngIf="employeeForm.get('phone').errors?.['required']">{{'Phone Number is required'| translate}}.</span>
                              </div>   
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="form-group">
                                <label for="country_id" >Country</label>
                                <select  id="country_id"class="form-control"  formControlName="country_id" (change)="onChangeCountrySelection($event)" >
                                  <option value="" disabled selected>{{'Select_the_Country' | translate}}</option>
                                  <option *ngFor="let country of countrylist" [value]="country.id">
                                   {{ country.name }}
                                 </option>
                                </select>  
                              </div>
                            </div>
                            
                              <div class="col-md-6 mb-3">
                                <div class="form-group">
                                  <label for="area_id">Area</label>
                                  <select  id="area_id"class="form-control"  formControlName="area_id" (change)="onChangeAreaSelection($event)" >
                                    <option value="" disabled selected>{{'Select_the_Area' | translate}}</option>
                                    <option *ngFor="let area of filteredAreas" [value]="area.id">
                                     {{ area.name }}
                                   </option>
                                  </select>                         
                                </div>
                              </div>
          
                            <div class="col-md-6 mb-3">
                              <div class="form-group ">
                                <label for="city_id" >City</label>
                                <select  id="city_id"class="form-control"  formControlName="city_id"  >
                                  <option value="" disabled selected>{{'Select_the_City' | translate}}</option>
                                  <option *ngFor="let city of filteredCities" [value]="city.id">
                                   {{ city.name }}
                                 </option>
                                </select>                      
                              </div>
                            </div>
                        
                              <div class="col-md-6 mb-3">
                                <div class="form-group">
                                  <label for="bankAccountNumber">{{'Bank_Account_Number' | translate}}<span class="text-danger">*</span></label>
                                  <input type="text" id="bankAccountNumber" class="form-control" formControlName="bankAccountNumber">
                                  <div *ngIf="employeeForm.get('bankAccountNumber').touched && employeeForm.get('bankAccountNumber').invalid" class="invalid-feedback d-block">
                                    <span *ngIf="employeeForm.get('bankAccountNumber').errors?.['required']">{{'Bank_Account_is_required'| translate}}.</span>
                                  </div> 
                                </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <div class="form-group">
                                  <label for="bankName">{{'Bank_Name' | translate}}</label>
                                  <select class="form-control" id="bankName" formControlName="bankName">
                                    <option *ngFor="let bank of banks" [value]="bank.id">
                                      {{ bank.name }}
                                    </option>
                               </select>        
                                  <!-- <div *ngIf="employeeForm.get('bankName').touched && employeeForm.get('bankName').invalid" class="invalid-feedback d-block">
                                    <span *ngIf="employeeForm.get('bankName').errors?.['required']">{{'Bank_Name_is_required'| translate}}.</span>
                                  </div>  -->
                                </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <div class="form-group ">
                                  <label for="role_id" >{{'Role'| translate}}<span class="text-danger">*</span></label>
                                  <select class="form-control" id="role_id" formControlName="role_id">
                                    <option value="" disabled selected>{{'Select_the_Role' | translate}}</option>
                                    <option *ngFor="let role of rolelist" [value]="role.id">
                                     {{ role.name }}
                                   </option>
                                  </select>                                  
                                  <div *ngIf="employeeForm.get('role_id').touched && employeeForm.get('role_id').invalid" class="invalid-feedback d-block">
                                    <span *ngIf="employeeForm.get('role_id').errors?.['required']">{{'Role_is_required'| translate}}.</span>
                                  </div> 
                                </div>
                              </div>
                       
                              
                      
                       </div>
                        <div class="col-12  mt-4">
                        <div class="d-flex justify-content-end ">
                        <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">{{'Cancel' | translate}}</button>
                        <button type="submit" class="btn btn-primary" >{{ (type == 'create' ? 'Add_employee' : 'Update_employee') | translate }}</button>
                        </div>
                        </div>
                      </form>
                </div>
            </div>
        </div> <!-- end col -->
      </div>
    </accordion-group>
    <accordion-group heading="{{'View_Employee_Permissions' | translate}}" class  ="accordion-item" #md>
      <span accordion-heading class="float-end fs-5">
        <i class="mdi" [ngClass]="!md?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
      </span>
      
      <div class="table-responsive">
        <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
          <thead class="table-light">
          <tr>
            <th>{{'Permissions'| translate}}</th>
            <!-- Loop over the Permission keys for the table header -->
            <th *ngFor="let permission of permissionKeys">{{ permission }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop over the Modules for the rows -->
          <tr *ngFor="let module of moduleKeys">
            <td>{{ module }}</td>
            <!-- Loop over the Permission keys for each module to create a checkbox -->
            <td *ngFor="let permission of permissionKeys">
              <input
                type="checkbox"
                [checked]="hasPermission(module, permission)"
                (change)="togglePermission(module, permission, $event)"
                disabled
              />
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </accordion-group>
    
  </accordion>